body {
  background-image: url("./photos/background-dots.png");
  background-position-y: center;
  background-position-x: center;
  background-size: 65px;
  height: 100000px;
  width: 100000px;
}

.projectNameContainer {
  position: absolute;
  left: 49700px;
  top: 221px;
  background-color: white;
  width: 600px;
  min-height: 30px;
  height: fit-content;
  border: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 7px;
  font-size: 25px;
  text-align: center;
  word-wrap: break-word;
}

.editProjectNameInput {
  background-color: white;
  border: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 3px;
  max-width: 550px;
  min-width: 550px;
  min-height: 50px;
  height: fit-content;
  font-size: 25px;
}

.editProjectNameInput:hover {
  background-color: rgb(235, 235, 235);
}

.editProjectNameInput:focus {
  outline: none;
  border-color: rgb(85, 85, 85);
}

.editProjectName {
  position: absolute;
  background-color: white;
  background-image: url("./photos/edit-pencil.png");
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  border: solid;
  border-width: 3px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  left: 50%;
  bottom: -50px;
  margin-left: -20px;
}

.editProjectName:hover {
  opacity: 0.5;
}

.returnToTitle {
  position: fixed;
  top: 25px;
  left: 50%;
  width: 120px;
  margin-left: -60px;
  border: solid;
  border-radius: 15px;
  border-width: 3px;
  background-color: white;
  z-index: 100;
}

.returnToTitle:hover {
  background-color: black;
  color: white;
}

.optionsAccordian {
  position: fixed;
  background-color: rgb(76, 109, 120);
  border: solid;
  border-width: 3px;
  border-color: black;
  border-top-right-radius: 5px;
  height: 30px;
  width: 180px;
  padding: 10px;
  top: 10px;
  left: 333px;
  font-size: 30px;
  text-align: center;
  color: white;
  margin: 0px;
  z-index: 100;
}

.optionsAccordian:hover {
  background-color: rgb(65, 93, 103);
}

.optionsContainer {
  position: fixed;
  display: block;
  top: 63px;
  left: 493px;
  margin-left: -160px;
  padding: 10px;
  height: 76px;
  width: 180px;  
  border: solid;
  text-align: center;
  border-width: 3px;
  border-bottom: none;
  background-color: white;
  font-size: 25px;
  z-index: 100;
}

.option1 {
  position: absolute;
  display: block;
  height: 48px;
  width: 100%;  
  left: 0%;
  top: 0px;
  margin: 0px;
  background-color: rgb(216, 143, 143);
  border: none;
  border-bottom: 3px solid black;
  font-size: 20px;
}

.option1:hover {
  opacity: 0.8;
}

.deleteAllBranchesConfirmation {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -155px;
  width: 300px;
  height: 85px;
  padding: 5px;
  background-color: rgb(255, 156, 156);
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  z-index: 200;
}

.yesDeleteAllBranches {
  margin-top: 5px;
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
}

.yesDeleteAllBranches:hover {
  background-color: black;
  color: white;
}

.noDeleteAllBranches {
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
}

.noDeleteAllBranches:hover {
  background-color: black;
  color: white;
}

.option2 {
  position: absolute;
  display: block;
  height: 48px;
  width: 100%;  
  left: 0%;
  top: 48px;
  margin: 0px;
  background-color: rgb(234, 225, 157);
  border: none;
  border-bottom: 3px solid black;
  font-size: 20px;
}


.option2:hover {
  opacity: 0.8;
}

.helpInfo {
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -405px;
  width: 800px;
  height: 440px;
  padding: 5px;
  background-color: rgb(234, 225, 157);
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  z-index: 200;
}

.closeHelpInfo {
  margin-top: 5px;
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
}

.closeHelpInfo:hover {
  background-color: black;
  color: white;
}

.option3:hover {
  opacity: 0.8;
}

.branchCreationAccordian {
  position: fixed;
  top: 10px;
  left: 170px;
  margin-left: -160px;
  padding: 10px;
  height: 30px;
  width: 300px;
  border: solid;
  border-color: black;
  color: white;
  text-align: center;
  border-top-left-radius: 5px;
  border-width: 3px;
  background-color: rgb(70, 109, 84);
  font-size: 30px;
  z-index: 100;
}

.branchCreationAccordian:hover {
  background-color: rgb(79, 98, 77);
}

.branchCreator {
  position: fixed;
  top: 63px;
  left: 170px;
  margin-left: -160px;
  padding: 10px;
  height: fit-content;
  width: 300px;
  border: solid;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 3px;
  background-color: rgb(200, 230, 197);
  font-size: 25px;
  z-index: 100;
}

.branchNameInput {
  height: 15px;
  min-height: 60px;
  max-height: auto;
  width: 280px;
  max-width: 280px;
  min-width: 280px;
  border: solid;
  border-radius: 7px;
  border-width: 3px;
  margin: 2px;
  padding: 5px;
}

.branchNameInput:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.branchNameInput:focus {
  outline: none;
  border-color: rgb(53, 138, 69);
}

.branchDetailsInput {
  height: 15px;
  min-height: 180px;
  max-height: auto;
  width: 280px;
  max-width: 280px;
  min-width: 280px;
  border: solid;
  border-radius: 5px;
  border-width: 3px;
  margin: 2px;
  padding: 5px;
}

.branchDetailsInput:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.branchDetailsInput:focus {
  outline: none;
  border-color: rgb(53, 138, 69);
}

.addBranchButton {
  margin: 2px;
  font-size: 25px;
  border: solid;
  border-width: 3px;
  border-radius: 7px;
  background-color: rgb(152, 229, 164);
}

.addBranchButton:hover {
  background-color: rgb(132, 198, 142);
}

.branch {
  position: fixed;
  margin-left: -225px;
  margin-top: -15px;
  height: fit-content;
  width: 450px;
  background-color: rgb(255, 255, 255);
  border: solid;
  border-width: 2px;
  border-radius: 7px;
}

.branchDragTab {
  border: solid;
  text-align: center;
  font-style: italic;
  background-color: rgb(232, 191, 151);
  padding-bottom: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.branchDragTab:hover {
  background-color: rgb(153, 119, 85);
  cursor: grab;
}

.branchButtonContainer {
  height: 20px;
}

.branchEditButton {
  border: solid;
  position: absolute;
  left: 0%;
  width: 150px;
  background-color: rgb(170, 170, 253);
}

.branchEditButton:hover {
  background-color: rgb(106, 106, 160);
}

.branchDeleteButton {
  border: solid;
  position: absolute;
  right: 0%;
  width: 150px;
  background-color: rgb(255, 115, 115);
}

.branchDeleteButton:hover {
  background-color: rgb(175, 48, 48);
}

.deleteBranchConfirmation {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -155px;
  width: 300px;
  height: 85px;
  padding: 5px;
  background-color: rgb(255, 156, 156);
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
}

.yesDeleteBranch {
  margin-top: 5px;
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
}

.yesDeleteBranch:hover {
  background-color: black;
  color: white;
}

.noDeleteBranch {
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
}

.noDeleteBranch:hover {
  background-color: black;
  color: white;
}

.branchConnectButton {
  border: solid;
  position: absolute;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  background-color: rgb(145, 227, 163);
}

.branchConnectButton:hover {
  background-color: rgb(88, 152, 102);
}

.branchName {
  border: solid;
  text-align: center;
  font-size: x-large;
  height: fit-content;
  max-width: 450px;
  min-height: 15px;
  padding: 5px;
  word-wrap: break-word;
}

.branchDetails {
  text-align: left;
  border: solid;
  height: fit-content;
  max-width: 450px;
  min-height: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  word-wrap: break-word;
}

.editNameInput {
  border: solid;
  border-width: 3px;
  border-radius: 7px;
  text-align: center;
  font-size: x-large;
  min-height: 45px;
  max-width: 425px;
  min-width: 425px;
  padding: 5px;
}

.editNameInput:hover {
  background-color: rgb(243, 243, 243);
}

.editNameInput:focus {
  outline: none;
  border-color: rgb(121, 121, 121);
}

.editDetailsInput {
  border: solid;
  border-width: 3px;
  border-radius: 7px;
  text-align: left;
  min-height: 122px;
  max-width: 425px;
  min-width: 425px;
  padding: 5px;
}

.editDetailsInput:hover {
  background-color: rgb(243, 243, 243);
}

.editDetailsInput:focus {
  outline: none;
  border-color: rgb(121, 121, 121);
}

.branchConnectorContainer {
  border: none;
  height: 100000px;
  width: 100000px;
}

.connectorLine:hover {
  stroke: rgb(95, 0, 0);
}
